<h1 class="jumbotron"><%= @one_species.name %></h1>

<h3>Sightings: </h3>
<% if @one_species.sightings.length != 0 %>
  <ul>
    <% @one_species.sightings.each do |sighting| %>
      <li><a href="/sightings/<%= sighting.id%>/edit">Date and time: <%= sighting.datetime %> Region: <%= sighting.region.name %></a></li>
    <% end %>
  </ul>
  <p>Click a sighting to edit it.</p>
<% end %>

<% if @sighting %>
  <% if @sighting.errors.any? %>
    <h3>Please fix these errors:</h3>
    <ul>
      <% @sighting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<h3>Add Sighting</h3>
  <form action="/species/<%=@one_species.id%>" method="post" class="form-inline">
  <input name="sighting[species_id]" type="hidden" value="<%= @one_species.id %>">
  <label for="sighting_date">Date sighted</label>
  <input id="sighting_date" name="sighting[date]" type="date"></input>
  <label for="sighting_time">Time sighted</label>
  <input id="sighting_time" name="sighting[time]" type="time"></input>
  <label for="sighting_region">Region</label>
  <select id="sighting_region" name="sighting[region_id]">
    <option disabled selected><em>Select Region</em></option>
    <% @regions.each do |region| %>
      <option value="<%= region.id %>"><%= region.name %></option>
    <% end %>
  </select>
  <button class="btn btn-warning">Add Sighting</button>
</form>

<br/>
<p><a href="/species/<%= @one_species.id%>/edit">Edit Species</a></p>

<br/>
<p><a href="/species">Main Menu</a></p>
